*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #696969;
}

header {
    width: 100vw;
    height: 100px;
    border: 2px solid #757171;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 50px;
    text-transform: uppercase;
}

header nav ul li a:hover {
    color: black;
    cursor: pointer;
}

header .header-logo img{
    width: 100px;
    margin-right: 250px;
}

header .change-theme {
    margin-right: 50px;
    color: white;
}


header .change-theme i:hover {
    color: black;
    cursor: pointer;
}